:root {
  /*color-scheme: light dark;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --font-color: #293632;
  --primary-color: #006340;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.25rem;
  line-height: 3.4375rem;
}

.container {
  width: 1232px;
  max-width: 100%;
  margin-inline: auto;
}