@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*color-scheme: light dark;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --font-color: #293632;
    --headings-color: #2D473E;
    --primary-color: #006340;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    padding: 1rem;
}

input, button {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

h1 {
    font-size: 3.25rem;
    line-height: 3.4375rem;
}

.container {
    width: 1232px;
    max-width: 100%;
    margin-inline: auto;

    &.main-container {
        .row {
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;

            @media (width > 768px) {
                flex-direction: row;
                align-items: center;
                gap: 1.25rem;
                justify-content: center;
            }
        }
    }
}

p {
    font-size: 1rem;
    line-height: 1.5rem;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.form-col {
    width: 42.375rem;
    max-width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (width > 772px) {
        flex-direction: row;
        align-items: center;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    img {
        border-radius: 1.875rem;
        margin-inline: auto;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 1rem;

        @media (width > 768px) {
            font-size: 2.625rem;
            line-height: 3.25rem;
            margin-bottom: 1.5rem;
        }

        strong {
            color: var(--primary-color);
        }
    }
}


.bottom-section {
    background-color: #F5F5F5;
    display: grid;
    gap: 2rem;
    padding: 1.5rem 1rem;
    margin: 3rem -1rem 1rem;
    width: calc(100% + 2rem);

    @media (width > 568px) {
        grid-template-columns: repeat(3, 1fr);
    }

    strong {
        display: block;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }

    p {
        font-size: 0.625rem;
        line-height: 1rem;
    }
}

.footer {
    text-align: center;
    color: #293632;

    img {
        margin-inline: auto;
    }

    p {
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }
}

.title-section {
    margin-block: 3rem 2rem;
    text-align: center;

    span {
        @media (width > 528px) {
            display: block;
        }
    }

    h2 {
        font-size: 3rem;
        max-width: 790px;
        margin-inline: auto;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #006340;
    }
}